---
import { Image } from "astro:assets";

let { playerName = "Notch", width=150, height=150  } = Astro.props

let userRes = await fetch(`https://api.highstreet.fun/users/${playerName}`)
let userData = await userRes.json();

---
{userData &&
<div class="bg-orange-300 relative p-4 pt-12">
        <div class="p-1 md:px-2 py-2 bg-black/60 text-white font-bold rounded-md text-center w-full">
          <p class={"mr-2 " + userData?.groups }></p>
          {playerName.charAt( 0 ) === '.' ?
           <div class="flex items-center justify-center">
          <p>{playerName.slice( 1 )}
            </p>
            <Image
              class="group-hover:scale-[1.03]  ml-2 h-5 w-5 aspect-square transition duration-300"
              src={"https://static.planetminecraft.com/files/image/minecraft/texture-pack/2022/688/15763358-unnamed_l.webp"}
              alt={"Bedrock Player"}
              width={24}
              height={24}
              />
            </div>
          :
             <p>{playerName}</p>
          }
        </div>
    <figure class="flex flex-col justify-center items-center">
        <Image
          class="group-hover:scale-[1.03] aspect-square transition duration-300 w-full"
          src={"https://api.creepernation.net/head/" + playerName}
          alt={playerName}
          width={width}
          height={height}
          transition:name={"image" + playerName}
          />

      </figure>
  </div>

  <div id={"tooltip-" + playerName} role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    <dl>
      <dt class="text-sm font-bold leading-6 text-gray-900">Spelersgroep</dt> <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{userData?.groups }</dd>
      <dt class="text-sm font-bold leading-6 text-gray-900">OP</dt> <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{userData?.op }</dd>
      <dt class="text-sm font-bold leading-6 text-gray-900">Online</dt> <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{userData?.online }</dd>
      <dt class="text-sm font-bold leading-6 text-gray-900">Laatst gespot</dt> <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{userData?.last_seen }</dd>
    </dl>
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>


}
<style>
.developer {
	content: "developer";
  height: 1rem;
  width: 6.25rem !important;
	display: inline-block;
	background: white;
	background-image: url('/webpromo/developer.png');
  background-repeat: no-repeat;
	background-size: contain;
}
.default {
	content: "player";
  height: 1rem;
  width: 4.4rem !important;
  min-width: 4.4rem !important;
  max-width: 4.4rem !important;
	display: inline-block;
	background-color: yellow;
	background-image: url('/webpromo/helper.png');
  background-repeat: no-repeat;
	background-size: contain;
}
.mod {
  height: 1rem;
  width: 2.25rem;
  content: ":mod:";
	display: inline-block;
	background: green;
	background-image: url('/webpromo/mod.png');
	background-size: contain;
}
.owner {
	content: "game-master";
  height: 1rem;
  width: 7.75rem;
	display: inline-block;
	background: red;
	background-image: url('/webpromo/game-master.png');
	background-size: contain;
}
</style>
